*{
    margin: 0;
    font-family: 'Bai Jamjuree', sans-serif;
    
}

body {
    background-color: #28282b;
    display: grid;
    grid-template-columns: 40% 60%;

}

/* Login */
Login {
    /* Size */
    height: 95.5vh;
    padding: 15px;
    z-index: 2;
    
    /*Visual*/
    background-color: white; 
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    display: flex;
    flex-direction: column;
   
}

.InputLogin{
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
.InputLogin .TextoInput input {
    height: 30px;
    width: 375px;
    border: none;
    font-size: 16px;
    outline: none;
}
.InputLogin hr{
    background-color: #d3d3d3;
    height: 2px;
    border: none;
}


.ButtonLogin{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 50px;
}
.SignButton {
    background-color: #4169E1;
    width: 100px;
    height: 45px;
    color: white;
    padding: 5px;
    border-radius: 10px;
    transition: 0.2s;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.SignButton:hover {
    background-color: #617dd3;
    border: 0.5px solid white;
    transition: 0.3s;
    transform: scale(1.05);
}

.LoginButton {
    background-color: transparent;
    width: 100px;
    height: 45px;
    color: #4169E1;
    padding: 5px;
    border-radius: 10px;
    border: none;
    transition: 0.2s;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.LoginButton:hover {
    transition: 0.3s;
    border: 0.5px solid  #4169E1;
    transform: scale(1.05);
}


.ManterLogin {
    display: flex;
    gap: 5px;
    justify-content: center;
    position: relative;
    right: 132px;
    top: 10px;

    color: #747474;
    
}

/* Banner */
Banner {
    background-color: #4169E1;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.TextBanner {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.3s;
    flex: 1;
}
.TextBanner:hover{
    transition: 0.3s;
    transform: scale(1.05);
    color: #ffffff;
}
.TextBanner hr {
    background-color: #ffffff;
    border: none;
    height: 2px;
    margin-bottom: 10px;
    
}
.DescBanner:last-child {
    padding: 10px;
    color: rgb(221, 219, 219);
    
}

