<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> register </title>
    <link rel="stylesheet" href="/layout/register/register.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@300&family=Nunito+Sans:wght@300&family=Source+Sans+Pro:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@300&family=Josefin+Sans&family=Nunito+Sans:wght@300&family=Source+Sans+Pro:wght@300&display=swap" rel="stylesheet">

</head>
<body>
    <register>
        <div style="Margin-top: 120px">
            <div style="display: flex; justify-content: center;">
                <h1 style="margin-bottom: 10px; Color: #ffffff; font-size: 30px "> Register </h1>
            </div>
            <div class="gradiente"></div>
            
            <form action="" method="POST">
                <div class="RegisBox">
                    <div class="TextoInput">
                        <h4 style="color: white">Usuário</h4>
                        <input type="text" name="" placeholder="" >
                        <hr>
                        
                    </div>
                    
                    <div class="TextoInput">
                        <h4 style="color: white">Email</h4>
                        <input type="text" name="" id="" placeholder="">
                        <hr>
                    </div>

                    <div class="TextoInput">
                        <h4 style="color: white">Senha</h4>
                        <input type="password" name="" id="" placeholder="">
                        <hr>
                    </div>
                         
                 
                         
                    <div class="TextoInput">
                        <h4 style="color: white">Confirmar senha</h4>
                        <input type="password" name="" id="" placeholder="">
                        <hr>
                    </div>
                </div>

                <div class="ButtonRegister">
                    <input class="SignButton" type="button" value="Sign Up">
                </div>
            </form>
        </div>
    </register>

    <video autoplay muted loop class="back_video">
        <source src="/static/lofi-japanese-style-room-night-time-4k-live-wallpaper.mp4" type="video/mp4">
    </video>

    
</body>
</html>