 <header>
        <div class="Cima" >
            <button style="position: relative; left: -15px; width: auto;">E-Commerce</button>
            <!-- Resolver esse input -->
            <input type="text" class="pesquisa" placeholder="Search..."> <i class="fa-solid fa-magnifying-glass" style="position: relative; right: 30px;color: #858484;"></i>
            <button><i class="fa-regular fa-user"></i></button>
            <button><i class="fa-regular fa-heart"></i></button>
            <button><i class="fa-regular fa-cart-shopping"></i></button>

        </div>
 </header>