<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title> Home </title>
    <link rel="stylesheet" href="/layout/admin/edit/admin.css">

    <!-- Link Externos -->
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.2.1/css/all.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans&family=Ubuntu:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <div class="visual-box">
        <div style="margin: 0 auto"><p>Admin - AutorName</p></div>
        
    </div>
    
    <main>
        <div class="center">
            <form class="card" action="" method="post" id="card-edit">
                <div class="title-card">
                  <input type="text" placeholder="Nome">
                  <div class="id-card">
                    <p>ID - #28282b</p>
                  </div>
                  
                </div>
                <div class="content-card">
                    <div class="input-box">
                        <span>Custo</span>
                        <input type="text" placeholder="Digite...">
                    </div>

                    <div class="input-box">
                        <span>Margem</span>
                        <input type="text" placeholder="Digite...">
                    </div>

                    <div class="input-box">
                        <span>Preço</span>
                        <input type="text" placeholder="Digite...">
                    </div>

                    <div class="input-box">
                        <span>Estoque</span>
                        <input type="text" placeholder="Digite...">
                    </div>

                    <div class="input-box">
                        <span>Categoria</span>
                        <input type="text" placeholder="Digite...">
                    </div>
                

                
                </div>
                <div class="tools-card">
                    <button class="saved" type="submit" form="card-edit">SAVE</button>
                    <button class="delete" type="button"><i class="fa-solid fa-trash-can"></i></button>
                </div>
            </form>
        </div>
    </main>
     
</body>
</html>